* {
    box-sizing: border-box;
}

body {
    background-color: #c9d2fc;
}

.cat-head {
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
    background: linear-gradient(#5e5e5e 85%, #45454f 100%);
    position: absolute; /* When you use the absolute value for your position property, the element is taken out of the normal flow of the document,
                           and then its position is determined by the top, right, bottom, and left properties. */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cat-left-ear {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    position: absolute;
    top: -26px;
    left: -31px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    transform: rotate(-45deg);
    z-index: 1;
}

.cat-right-ear {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    position: absolute;
    top: -26px;
    left: 163px;
    transform: rotate(45deg);
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    z-index: 1;
}